<ion-header>
  <ion-toolbar>
    
    <ion-title>Calculadora de Vantagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines = 'none'>
<ion-button (click)="enterCo()">Comparativo</ion-button>
</ion-item>
<ion-item lines = 'none' >
<ion-button  (click)="enterL()">Lista</ion-button>
</ion-item>
<ion-item lines = 'none'>
<ion-button (click)="enterC()">Custo/Benefício</ion-button>
</ion-item>
<ion-item lines = 'none'>
<ion-button (click)="enterE()">Custo/Benefício CLT</ion-button>
</ion-item>
<ion-item lines = 'none'>
<ion-button (click)="enterP()">Porcentagem</ion-button>
</ion-item>
<ion-item lines = 'none'>
  <ion-button (click)="enterD()">Desconto</ion-button>
</ion-item>
<ion-item lines = 'none'>
  <ion-button (click)="enterA()">Relação Atacado/Varejo</ion-button>
</ion-item>
 
</ion-content>
