<ion-header>
  <ion-tollbar>

    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  
   <ion-title >Desconto</ion-title>
  
  
  <ion-button   (click) ="resetD()" class="b"><ion-icon name="refresh-outline"></ion-icon></ion-button>
</ion-tollbar>
</ion-header>
<ion-content>

  <div class="result">{{f}}</div>
  <div class="result">{{r}}</div>
  <div id="container">
    
    <ion-title >Valor do Produto</ion-title>

    <ion-item lines="none" class="f" >
      <p>R$:</p>
    
   <input  type="tel" 
   [(ngModel)]="t"  
   placeholder="  0,00"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
    [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
  
</ion-item>
  <div >
  <ion-title class="d" >Desconto</ion-title>
 </div>
    <ion-item lines="none" class="f" >
      <p>%:</p>
    
   <input  type="tel" 
   [(ngModel)]="d"  
   placeholder="  000"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
   />
  </ion-item>

  <div class="div">
  
</div>
  <ion-fab vertical ="center" horizontal="end" edge slot="fixed" (click) ="doneD()">
    <ion-fab-button>
      <ion-icon name="checkmark-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

