<ion-header>
  <ion-tollbar>
<ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
<ion-title >Oferta</ion-title>
  <ion-button   (click) ="resetAt()" class="b"><ion-icon name="refresh-outline"></ion-icon></ion-button>
</ion-tollbar>
</ion-header>

<ion-content>
  <div class="result">{{f}}</div>
  <div id="container">
    
    <ion-title >Preço do produto</ion-title>

    <ion-item lines="none" class="f" >
      <p>R$:</p>
    
   <input  type="tel" 
   [(ngModel)]="at"  
   placeholder="  0,00"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
    [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
  
</ion-item>
  <div >
  <ion-title class="d" >Valor com Desconto</ion-title>
 </div>
    <ion-item lines="none" class="f" >
      <p>R$:</p>
    
   <input  type="tel" 
   [(ngModel)]="va"  
   placeholder="  0,00"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
    [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
  </ion-item>

  <div class="div">
  
</div>

<ion-fab vertical ="center" horizontal="end" edge slot="fixed" (click) ="doneA()">
  <ion-fab-button>
    <ion-icon name="checkmark-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
