.div{
    padding-top: 5%;
    text-align: center;
}

.result{
text-align: center;
margin-top: 3vh;
font-size: large;
color: crimson;
}

 ion-title{
        display: flex;
        text-align: center;
        padding: center;
        font-size: 4vh;
        margin-top: 5%;
        
        }


ion-tollbar{
    display: flex;
   
}
input{
    height: 8vh;
    border: none;
    border-bottom: 1px solid red;
    
font-size: larger; 
}
.f{
    flex: 1;
}
.d{
 margin-top: 50px;
}
.hint{
    margin-top: 12vh;
}
