ion-tollbar{
    display: flex;
   
}
.mon{
    height: 8vh;
font-size: larger;
margin-left: 17px; 
border: none;
border-bottom: 1px solid red;
}
.pes{
    height: 8vh;
    border: none;
    border-bottom: 1px solid red;
    
font-size: larger; 
}

content{
    flex: 1;
    text-align: center;
    align-items: center;
     
}
.total{
    overflow: scroll;
   max-height: 250px;
    align-items: center;
    text-align: center;
    position: relative;
}


ion-header{
    text-align: center;
}
ion-toolbar{
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
}
ion-button{
    
    text-align: center;
    
}
ion-title{
    display: flex;
    text-align: center;
    padding: center;
    font-size: 4vh;
    margin-top: 5%;
    
    
}

.left{
    text-align: left;
}
.title{
    margin-top: -25px;

}
.result{
    background-color: aqua;
    height: 7vh;
    font-size:larger ;
}
text{
    font-size: larger;
    
}
.form{
    display: flex;
}

.up{
    align-items: center;
    position: absolute;
    
}
.bu{
    flex: 1;
    text-align: left;
    position: relative;
}

ion-fab-button{
    color: green;
    height: 50px;
    width: 50px;
    margin-bottom: 200vh;
    
}
    
text{
    font-size: medium;
   
  
}

.hint{
    margin-top: 4vh;
}

strong{
    color: aqua;
}