
  <ion-header>
    <ion-tollbar>
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
     <ion-title >Comparador</ion-title>
    <ion-button   (click) ="resetIMC()" class="b"><ion-icon name="refresh-outline"></ion-icon></ion-button>
  </ion-tollbar>

</ion-header>

<content >

<div class="total">
<ion-item lines = "none">
     <ion-title>Produto A</ion-title>
    </ion-item>
    <ion-item  lines = "none">
      <div class="form">
        <p>R$:</p>
    <input 
    class="mon"
    type= 'tel'
    placeholder=""
    currencyMask [(ngModel)]="a"  
    [ngModelOptions]="{standalone: true}"  
     currencyMask 
     [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>  
    </div>
    </ion-item>

   <ion-item  lines = "none">
   
    </ion-item>
    <ion-item  lines = "none">
      <div class="form">
      <p>Peso:</p> 
      <input
      class="pes" 
      type= 'tel'
      placeholder=""
      [ngModelOptions]="{standalone: true}"  
      [(ngModel)]="b"  
      
      currencyMask 
      [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"
     />
    </div>
  </ion-item>
  <ion-item  lines = "none">
  <ion-title>Produto B</ion-title>
 </ion-item>
    <ion-item  lines = "none" >
   
      <div class="form">
         <p>R$:</p>
     <input 
     class="mon"
     type= 'tel'
     placeholder=""
     [ngModelOptions]="{standalone: true}"  
     currencyMask
     [(ngModel)]="c" 
     [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
     </div>
   </ion-item>
   <ion-item  lines = "none">
   
      </ion-item>
      <ion-item  lines = "none">
        <div class="form">
        <p>Peso:</p>
      <input 
      placeholder=""
      type= 'tel'
      [ngModelOptions]="{standalone: true}"  
     class="pes"
      [(ngModel)]="d" 
      currencyMask 
      [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/> 
        </div>
</ion-item>
<ion-item  lines = "none" >
   
   </ion-item>
 </div> 
 <ion-fab vertical ="center" horizontal="end" edge slot="fixed" >
  <ion-fab-button   color="sucess" (click) ="calcularIMC(); presentAlert()" >
    <ion-icon  name="checkmark-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical ="center" horizontal="start" edge slot="fixed" >
  <ion-fab-button  *ngIf="change" (click) ="onChange()"  >
    Kilos
  </ion-fab-button>
  <ion-fab-button  *ngIf="!change" (click) ="onChange()"   >
    Gramas
  </ion-fab-button>
</ion-fab>

<div class= 'hint'>
<text>*Insira os respectivos valores nos campos e pressione o botão verde para saber, qual seria o produto mais vantajoso financeiramente.</text>
</div>
</content>


