<ion-header>
  <ion-tollbar>

    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  
   <ion-title >Custo ou benefício</ion-title>
  
  
  <ion-button   (click) ="reseT()" class="b"><ion-icon name="refresh-outline"></ion-icon></ion-button>
</ion-tollbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div></div>

  <div id="container">
    
    <ion-title >Preço do produto</ion-title>

    <ion-item lines="none" class="f" >
      <p>R$:</p>
    
   <input  type="tel" 
   [(ngModel)]="p"  
   placeholder="  0,00"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
    [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
  
</ion-item>
  <div >
  <ion-title class="d" >Valor por hora</ion-title>
 </div>
    <ion-item lines="none" class="f" >
      <p>R$:</p>
    
   <input  type="tel" 
   [(ngModel)]="h"  
   placeholder="  0,00"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
    [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
  </ion-item>


  
</div>
<div>
  <ion-toolbar class="tab">
    <ion-segment value="all">
      <ion-segment-button (click)="calcH();  presentAlert()">
        <ion-label>Horas</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="calcD();  presentAlert()">
        <ion-label>Dias</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="calcM();  presentAlert()" >
        <ion-label>Meses</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="calcY();  presentAlert()" >
        <ion-label>Anos</ion-label>
      </ion-segment-button>
     
      
     
    </ion-segment>
  </ion-toolbar>
  </div>

  <div class= 'hint'>
    <text>*Insira os respectivos valores nos campos e pressione o botão verde para saber o custo do produto em relação ao valor da sua hora trabalhada</text>
    </div>
    <div class= 'hint'>
      <text>**Os valores são aproximados</text>
      </div>
  
  
   
    
  
  
</ion-content>
