<ion-header>
  <ion-tollbar>

    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  
   <ion-title >Percentual </ion-title>
  
  
  <ion-button   (click) ="resetP()" class="b"><ion-icon name="refresh-outline"></ion-icon></ion-button>
</ion-tollbar>

</ion-header>
<ion-content [fullscreen]="true">
  

  <div id="container">
    
    <ion-title >Preço do produto</ion-title>

    <ion-item lines="none" class="f" >
      <p>R$:</p>
    
   <input  type="tel" 
   [(ngModel)]="n"  
   placeholder="  0,00"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
    [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
  
</ion-item>
  <div >
  <ion-title class="d" >Valor</ion-title>
 </div>
    <ion-item lines="none" class="f" >
      <p>R$:</p>
    
   <input  type="tel" 
   [(ngModel)]="pe"  
   placeholder="  0,00"
   currencyMask   
   [ngModelOptions]="{standalone: true}"  
    currencyMask 
    [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"/>
  </ion-item>

  <div class="div">
  
</div>
  <ion-fab vertical ="center" horizontal="end" edge slot="fixed" (click) ="doneP();  presentAlert()">
    <ion-fab-button>
      <ion-icon name="checkmark-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
    <div class= 'hint'>
      <text>*Insira o "Valor" para descobrir quanto representa em porcentagem do "Preço do produto"</text>
      </div>
      

     
      

