<ion-header>
  <ion-tollbar>

    <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  
   <ion-title >Percentual </ion-title>
  
  
  <ion-button   (click) ="resetP()" class="b"><ion-icon name="refresh-outline"></ion-icon></ion-button>
</ion-tollbar>

</ion-header>
<ion-content>
  <ion-item>
  <label>Total</label>
  <input type= 'tel'
  placeholder=""
  currencyMask [(ngModel)]="n"  
  [ngModelOptions]="{standalone: true}"  
   currencyMask 
   [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"
   name="n"/>
   </ion-item>
   <ion-item>
  <label>Número</label>
  <input type= 'tel'
  placeholder=""
  currencyMask [(ngModel)]="pe"  
  [ngModelOptions]="{standalone: true}"  
   currencyMask 
   [options]="{ prefix: ' ', thousands: '.', decimal: ',' }"
   name="pe"/>
  </ion-item>
  <td> {{ ((pe/n)*100) }}%</td>
</ion-content>
